run = "gunicorn Heralune.main:app --bind 0.0.0.0:8080"
entrypoint = "main.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 81
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
expertMode = true
